@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "HinaMincho";
    src: url('/fonts/HinaMincho-Regular.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}