/* TESTING */
@keyframes wipe-enter {
	0% {
		transform: scale(0, .025);
	}
	50% {
		transform: scale(1, .025);
	}
}

@media (prefers-reduced-motion: no-preference) {
    .square {
      animation: wipe-enter 1s infinite;
    }
  }

.square {
    width: 200px;
    height: 200px;
    background: orange;

}